button{
    background-color: #0375a7;
    color:#fff;
    cursor:pointer;
    width: 100%;
    padding: 0.25rem;
    border-radius: 8px;
    padding: 10px;
    margin-top: 7px;
}
button:hover{
    background-color: #02416b;
    transition: 0.6s;
}